* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #F3F5F8;
  --light: #F0FDF4;
  --gray-subtitulo: #4b5563;
  --gray-titulo: #1f2937;
  --green-button: #16A34A;
  --green-button-hover: #21C05C;
  --blue: #2563eb;
}

h1, h2, p, a, button, input {
  font-family: "Poppins", sans-serif;
}

h3, h4, h5, h6 {
  font-family: "Inter", sans-serif;
}

h1, h2, h3 {
  color: var(--gray-titulo);
  font-size: 25px;
}

p {
  color: var(--gray-subtitulo);
  font-size: 16px;
}

.secao {
  padding: 2rem 4rem;
}

button img {
  vertical-align: text-top;
  margin-left: 5px;
}

.btn-primary {
  background-color: var(--green-button);
  color: var(--white);
  border: solid 1px var(--green-button-hover);
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.btn-primary:hover {
  background-color: var(--green-button-hover);
}

.btn-secondary {
  background-color: transparent;
  color: var(--green-button);
  border: solid 1px var(--green-button);
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.btn-secondary:hover {
  background-color: var(--green-button-hover);
  color: var(--white);
}

.btn-secondary-blue {
  background-color: transparent;
  color: var(--blue);
  border: solid 1px var(--blue);
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.btn-secondary-blue:hover {
  background-color: var(--light);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  padding-bottom: 17px;
  border-bottom: solid 1px #B4AEAE;
}
header img {
  height: 2.5rem;
}
header nav {
  display: flex;
  align-items: center;
  gap: 30px;
}
header ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
header ul li a {
  text-decoration: none;
  color: var(--gray-titulo);
  transition: color 0.3s ease;
}
header ul li a:hover {
  color: var(--green-button);
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 4rem;
}
.banner h1 {
  font-weight: 800;
  font-size: 3rem;
  padding-bottom: 15px;
}
.banner p {
  padding-bottom: 25px;
  line-height: 1.5;
  font-size: 1.4rem;
}

.textos-banner {
  max-width: 40%;
}

.numeros {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0;
  background-color: #F3F5F8;
}
.numeros .numero-item {
  text-align: center;
}
.numeros .numero-item h3 {
  font-size: 2.5rem;
  color: var(--green-button);
  margin-bottom: 10px;
  font-weight: bold;
}

.como-funciona {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  flex-wrap: wrap;
}
.como-funciona h2, .como-funciona .como-subtitulo {
  width: 100%;
  text-align: center;
}
.como-funciona h2 {
  font-weight: 800;
}
.como-funciona .card {
  background-color: #F3F5F8;
  border: solid 1px #eee;
  border-radius: 5px;
  padding: 1.5rem;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin: 25px;
}
.como-funciona .card h3 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 300;
}
.como-funciona .card .h3-doadores {
  color: var(--green-button);
}
.como-funciona .card .h3-adquirente {
  color: var(--blue);
}
.como-funciona .card .item-card {
  display: flex;
  gap: 10px;
}
.como-funciona .card .numero-card {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  border-radius: 100%;
}
.como-funciona .card .numero-green {
  background-color: var(--green-button);
}
.como-funciona .card .numero-blue {
  background-color: var(--blue);
}

@media (max-width: 768px) {
  button, .btn-primary, .btn-secondary, .btn-secondary-blue {
    font-size: 0.7rem;
    padding: 7px 10px;
  }
  p {
    font-size: 0.8rem;
  }
  .secao {
    padding: 1rem 1rem;
  }
  header {
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;
  }
  header img {
    height: 2rem;
  }
  header nav {
    width: 95%;
    justify-content: space-between;
    align-content: center;
    font-size: 0.7rem;
    gap: 0;
    margin-top: 10px;
  }
  .banner {
    flex-direction: column;
    text-align: center;
    text-align: left;
    gap: 1rem;
  }
  .banner h1 {
    font-size: 1.5rem;
  }
  .banner button img {
    width: 1rem;
  }
  .banner .img-banner-reciclagem {
    max-width: 80%;
  }
  .textos-banner {
    max-width: 100%;
  }
  .numeros {
    gap: 1rem;
    padding: 35px 20px;
  }
  .numeros .numero-item h3 {
    font-size: 1.6rem;
  }
  .numeros .numero-item p {
    font-size: 0.8rem;
  }
  .como-funciona {
    gap: 0.5rem;
    padding: 1rem 0.3rem;
  }
  .como-funciona .como-subtitulo {
    padding-bottom: 20px;
  }
  .como-funciona .card {
    margin: 5px 7px;
    gap: 2rem;
  }
}/*# sourceMappingURL=style.css.map */